.elegant-color {
    background-color: #312f2f;
}

.elegant-color-dark {
    background-color: #212121;
}

.wrapper-app-banner {
    background-image: url('/img/test.jpg');

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
